h2, h3 {
	color: dodgerblue;
	font-family: Trebuchet MS;
	margin: 50px
}

ul{
	list-style-type: none;
	margin: 20px;
	padding: 0px;
	overflow: hidden;
	background-color: #F43030;

}

li a{
	font-family: Century Gothic;
	text-align: left;
	margin: 25px;
	font-weight: bold;
	color: black;
	display: block;
	padding: 0px;
	text-decoration: none;
	font-size: 120%;
}

a:hover {
	color: white;
}

li {
	float: left;
}

body {
	background-color: lightgrey;
}